BodegaBA-CSharp/BuenosAires.BodegaBA/Connected Services/WsProductoAnwoReference/WsProductoAwno.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WsProductoAwno" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54096/WsProductoAwno.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54096/WsProductoAwno.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54096/WsProductoAwno.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsProductoAwno_LeerTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerTodos" />
  </wsdl:message>
  <wsdl:message name="IWsProductoAwno_LeerTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IWsProductoAwno_Reservar_InputMessage">
    <wsdl:part name="parameters" element="tns:Reservar" />
  </wsdl:message>
  <wsdl:message name="IWsProductoAwno_Reservar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservarResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsProductoAwno">
    <wsdl:operation name="LeerTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsProductoAwno/LeerTodos" message="tns:IWsProductoAwno_LeerTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsProductoAwno/LeerTodosResponse" message="tns:IWsProductoAwno_LeerTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reservar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsProductoAwno/Reservar" message="tns:IWsProductoAwno_Reservar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsProductoAwno/ReservarResponse" message="tns:IWsProductoAwno_Reservar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsProductoAwno" type="tns:IWsProductoAwno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeerTodos">
      <soap:operation soapAction="http://tempuri.org/IWsProductoAwno/LeerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reservar">
      <soap:operation soapAction="http://tempuri.org/IWsProductoAwno/Reservar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsProductoAwno">
    <wsdl:port name="BasicHttpBinding_IWsProductoAwno" binding="tns:BasicHttpBinding_IWsProductoAwno">
      <soap:address location="http://localhost:54096/WsProductoAwno.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>