BodegaBA-CSharp/BuenosAires.BodegaBA/Connected Services/WsGuiaDespachoReference/WsGuiaDespacho.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WsGuiaDespacho" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54096/WsGuiaDespacho.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54096/WsGuiaDespacho.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54096/WsGuiaDespacho.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.BusinessLayer" />
      <xsd:import schemaLocation="http://localhost:54096/WsGuiaDespacho.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" />
      <xsd:import schemaLocation="http://localhost:54096/WsGuiaDespacho.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsGuiaDespacho_ObtenerRespuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRespuesta" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_ObtenerRespuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRespuestaResponse" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_ValidarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarProducto" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_ValidarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_Crear_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_Crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_LeerTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerTodos" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_LeerTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_Leer_InputMessage">
    <wsdl:part name="parameters" element="tns:Leer" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_Leer_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerResponse" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_CambiarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstado" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_CambiarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsGuiaDespacho">
    <wsdl:operation name="ObtenerRespuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsGuiaDespacho/ObtenerRespuesta" message="tns:IWsGuiaDespacho_ObtenerRespuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsGuiaDespacho/ObtenerRespuestaResponse" message="tns:IWsGuiaDespacho_ObtenerRespuesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsGuiaDespacho/ValidarProducto" message="tns:IWsGuiaDespacho_ValidarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsGuiaDespacho/ValidarProductoResponse" message="tns:IWsGuiaDespacho_ValidarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsGuiaDespacho/Crear" message="tns:IWsGuiaDespacho_Crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsGuiaDespacho/CrearResponse" message="tns:IWsGuiaDespacho_Crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsGuiaDespacho/LeerTodos" message="tns:IWsGuiaDespacho_LeerTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsGuiaDespacho/LeerTodosResponse" message="tns:IWsGuiaDespacho_LeerTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Leer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsGuiaDespacho/Leer" message="tns:IWsGuiaDespacho_Leer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsGuiaDespacho/LeerResponse" message="tns:IWsGuiaDespacho_Leer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsGuiaDespacho/Actualizar" message="tns:IWsGuiaDespacho_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsGuiaDespacho/ActualizarResponse" message="tns:IWsGuiaDespacho_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsGuiaDespacho/Eliminar" message="tns:IWsGuiaDespacho_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsGuiaDespacho/EliminarResponse" message="tns:IWsGuiaDespacho_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsGuiaDespacho/CambiarEstado" message="tns:IWsGuiaDespacho_CambiarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsGuiaDespacho/CambiarEstadoResponse" message="tns:IWsGuiaDespacho_CambiarEstado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsGuiaDespacho" type="tns:IWsGuiaDespacho">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerRespuesta">
      <soap:operation soapAction="http://tempuri.org/IWsGuiaDespacho/ObtenerRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarProducto">
      <soap:operation soapAction="http://tempuri.org/IWsGuiaDespacho/ValidarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <soap:operation soapAction="http://tempuri.org/IWsGuiaDespacho/Crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerTodos">
      <soap:operation soapAction="http://tempuri.org/IWsGuiaDespacho/LeerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leer">
      <soap:operation soapAction="http://tempuri.org/IWsGuiaDespacho/Leer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IWsGuiaDespacho/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IWsGuiaDespacho/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarEstado">
      <soap:operation soapAction="http://tempuri.org/IWsGuiaDespacho/CambiarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsGuiaDespacho">
    <wsdl:port name="BasicHttpBinding_IWsGuiaDespacho" binding="tns:BasicHttpBinding_IWsGuiaDespacho">
      <soap:address location="http://localhost:54096/WsGuiaDespacho.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>