BodegaBA-CSharp/BuenosAires.BodegaBA/Connected Services/WsGuiaDespachoReference/WsGuiaDespacho3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BuenosAires.BusinessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BuenosAires.BusinessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54096/WsGuiaDespacho.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" />
  <xs:complexType name="BcGuiaDespacho">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accion" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="GuiaDespacho" nillable="true" type="q1:GuiaDespacho" />
      <xs:element minOccurs="0" name="HayErrores" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="Lista" nillable="true" type="q2:ArrayOfGuiaDespacho" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BcGuiaDespacho" nillable="true" type="tns:BcGuiaDespacho" />
</xs:schema>