BodegaBA-CSharp/BuenosAires.BodegaBA/Connected Services/WsProductoReference/WsProducto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54096/WsProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" />
  <xs:element name="Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="producto" nillable="true" type="q1:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="CrearResult" nillable="true" type="q2:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="LeerTodosResult" nillable="true" type="q3:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="LeerResult" nillable="true" type="q4:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="producto" nillable="true" type="q5:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="ActualizarResult" nillable="true" type="q6:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="EliminarResult" nillable="true" type="q7:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>